@import '../../../stylesheets/variables';
@import '../../../stylesheets/media';

.section-skills {
  margin-bottom: 50px;
  @include media-small {
    margin-bottom: 30px;
  }
  .skills-container {
    .tech-category-block {
      margin-bottom: 30px;
      @include media-small {
        margin-bottom: 20px;
      }
      .tech-category-name {
        color: $main-font-color-light;
        font-size: 24px;
        margin-bottom: 30px;
        @include media-small {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}