@import '../../../stylesheets/media';

.section-about {
  .content-container {
    padding-top: 190px;
    padding-bottom: 20px;
    @include media-medium {
      padding-top: 100px;
    }
    @include media-ipad-pro {
      padding-top: 130px;
    }
    @include media-small {
      padding-top: 60px;
    }

    // Title
    .section-title {
      position: relative;
      z-index: 1;
    }

    // Text Block
    .text-block {
      position: relative;
      width: 70%;
      height: 100%;
      z-index: 1;
      font-size: 22px;
      line-height: 1.8;
      @include media-medium {
        font-size: 20px;
        line-height: 1.5;
      }
      @include media-small {
        width: 80%;
        font-size: 16px;
        line-height: 1.5;
      }
    }

    // Photo Block
    .photo-block {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      right: 20px;
      background: url(../../../assets/my-photo.jpg);
      background-repeat: no-repeat;
      background-position: bottom -100px right;
      background-size: cover;
      @include media-medium {
        width: 60%;
        right: 0;
        background-position: bottom 40% right;
      }
      @include media-ipad-pro {
        background-position: bottom -180px right;
      }
      @include media-small {
        width: 100%;
        right: 0;
        background-position: bottom 40% left 0;
      }
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right,
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,.9) 60%,
        rgba(0,0,0,.8) 70%,
        rgba(0,0,0,.7) 80%,
        rgba(0,0,0,.6) 90%,
        rgba(0,0,0,.5) 100%
      );
      @include media-medium {
        background-image: linear-gradient(
          to right,
          rgba(0,0,0,1) 0%,
          rgba(0,0,0,1) 40%,
          rgba(0,0,0,.9) 50%,
          rgba(0,0,0,.8) 60%,
          rgba(0,0,0,.7) 70%,
          rgba(0,0,0,.6) 80%,
          rgba(0,0,0,.5) 90%,
          rgba(0,0,0,.4) 100%
        );
      }
      @include media-small {
        background-image: linear-gradient(
          to bottom,
          rgba(0,0,0,1) 0%,
          rgba(0,0,0,.8) 30%,
          rgba(0,0,0,.7) 100%
        );
      }
    }
  }
}

