@import '../../stylesheets/global';
@import '../../stylesheets/layout';

.page-main-section {
  // margin-top: $header-height;
  margin-bottom: $footer-height;
  flex: 1;
  display: flex;
  justify-content: center;
  z-index: 1;

  .page-content {
    width: 100%;
  }

  .content-container {
    max-width: $content-container-width;
    width: $content-container-width;
    background: yellowgreen;

    @include media-tablet {
      background: brown;
    }
  }
}