@import '../../../stylesheets/media';
@import '../../../stylesheets/variables';

.section-title {
  margin-bottom: 60px;
  @include media-medium {
    margin-bottom: 40px;
  }
  @include media-small {
    margin-bottom: 30px;
  }
  h2 {
    font-size: 40px;
    font-weight: 600;
    color: $golden-color-light;
    text-transform: uppercase;
    @include media-medium {
      font-size: 32px;
    }
    @include media-small {
      font-size: 28px;
    }
  }
}