@import '../../../stylesheets/variables';
@import '../../../stylesheets/media';

.page-project {

  // Parallax
  height: 150vh; // Normally 100vh is okay (fix the bug with ANT design dropdown)
  overflow: hidden;

  .page-container {

    // Parallax
    transform-style: preserve-3d;
    perspective: 100px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    // Header Image
    #header-image-section {
      height: 500px;
      width: 100vw;
      display: flex;
      justify-content: flex-end;
      position: relative;
      @include media-medium {
        height: 375px;
      }
      @include media-small {
        height: 350px;
      }
      .image-container {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 120%;
        transform: translateZ(-100px) translateY(-98%) scale(2); // Parallax
        @include media-medium {
          height: 130%;
          transform: translateZ(-100px) translateY(-130%) scale(2);
        }
        @include media-ipad-pro {
          height: 150%;
          transform: translateZ(-100px) translateY(-145%) scale(2);
        }
        @include media-small {
          height: 130%;
          transform: translateZ(-100px) translateY(-130%) scale(2);
        }
      }
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(
          to left,
          rgba(0,0,0,.7) 0%,
          rgba(0,0,0,.5) 50%,
          rgba(0,0,0,.3) 60%,
          rgba(0,0,0,.1) 80%,
          rgba(0,0,0,0) 100%
        );
        @include media-small {
          background-image: linear-gradient(
            to top,
            rgba(0,0,0,.6) 0%,
            rgba(0,0,0,.3) 50%,
            rgba(0,0,0,.1) 60%,
            rgba(0,0,0,0) 80%,
            rgba(0,0,0,0) 100%
          );
        }
      }
      .title-block {
        display: flex;
        align-items: flex-end;
        width: 50%;
        padding: 0 50px 70px 0;
        z-index: 1;
        @include media-medium {
          width: 60%;
          padding: 0 30px 30px 0;
        }
        @include media-small {
          justify-content: center;
          width: 100%;
          padding: 30px 20px;
        }
        h1 {
          color: $golden-color-light;
          font-size: 80px;
          line-height: 1.1;
          font-weight: 600;
          text-shadow: 1px 1px #000;
          margin: 0;
          @include media-medium {
            font-size: 60px;
          }
          @include media-small {
            font-size: 50px;
          }
        }
      }
    }
  
    // Main Content
    .main-content {
      transform-style: inherit; // Parallax
      display: flex;
      justify-content: center;
      min-height: 100vh;
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0% 100%);
      padding-top: 50px;
      @include media-medium {
        padding-top: 40px;
      }
      @include media-small {
        padding-top: 30px;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0% 100%);
      }

      // Specification Section
      .spec-section {
        display: flex;
        margin-bottom: 30px;
        @include media-medium {
          flex-direction: column;
          margin-bottom: 20px;
        }
        @include media-small {
          flex-direction: column;
          margin-bottom: 20px;
        }

        // Link Block
        .links-block {
          display: flex;
          align-items: flex-start;
          min-width: 335px;
          margin-right: 30px;
          @include media-medium {
            margin-bottom: 40px;
          }
          @include media-small {
            margin-bottom: 40px;
          }
          .button {
            padding-right: 25px;
            margin-right: 30px;
            @include media-small {
              margin-right: 20px;
            }
            .item-icon {
              width: 30px;
            }
          }
        }

        // Tech Stack Block
        .tech-stack-block {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          flex-wrap: wrap;
          @include media-small {
            justify-content: flex-start;
          }
          .ant-dropdown-link {
            margin-right: 0;
            margin-left: 30px;
            @include media-small {
              margin-right: 20px;
              margin-left: 0;
            }
          }
        }
      }
      
      // Description Section
      .description-section {
        background: $gray-color;
        border-radius: 20px;
        padding: 20px 30px 5px;
        margin-bottom: 60px;
        @include media-medium {
          margin-bottom: 40px;
        }
        @include media-small {
          padding: 15px 20px 5px;
          margin-bottom: 40px;
        }
        p {
          font-size: 18px;
          @include media-small {
            font-size: 16px;
          }
        }
      }

      // Body Section
      .body-section {
        margin-bottom: 60px;
        @include media-small {
          margin-bottom: 40px;
        }
        #body-img-1 {
          width: 50%;
          float: left;
          margin: 0 30px 30px 0;
          @include media-medium {
            width: 40%;
          }
          @include media-small {
            width: 100%;
            margin: 0 0 20px;
          }
        }
        p {
          font-size: 18px;
          @include media-small {
            font-size: 16px;
          }
        }
      }

      // Gallery Section
      .gallery-section {
        margin-bottom: 80px;
        @include media-medium {
          margin-bottom: 40px;
        }
        @include media-small {
          margin-bottom: 40px;
        }
      }
    }
  }
}