@import '../../../stylesheets/variables';
@import '../../../stylesheets/media';

.page-project {
  .page-container {

    // Header Image
    #header-image-section {
      height: 500px;
      width: 100vw;
      display: flex;
      justify-content: center;
      position: relative;
      @include media-medium {
        height: 375px;
      }
      @include media-phone-land {
        height: 100vh;
      }
      @include media-small {
        height: 350px;
      }
      .image-container {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 120%;
        transform: translateZ(-100px) translateY(-58%) scale(2); // Parallax
        @include media-medium {
          height: 130%;
          transform: translateZ(-100px) translateY(-70%) scale(2);
        }
        @include media-ipad-pro {
          height: 150%;
          transform: translateZ(-100px) translateY(-110%) scale(2);
        }
        @include media-phone-land {
          transform: translateZ(-100px) translateY(-20%) scale(2);
        }
        @include media-small {
          height: 130%;
          transform: translateZ(-100px) translateY(-60%) scale(2);
        }
      }
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(
          to left,
          rgba(0,0,0,.8) 0%,
          rgba(0,0,0,.6) 50%,
          rgba(0,0,0,.4) 60%,
          rgba(0,0,0,.3) 70%,
          rgba(0,0,0,.1) 80%,
          rgba(0,0,0,0) 100%
        );
        @include media-under-tablet {
          background-image: linear-gradient(
            to top,
            rgba(0,0,0,.9) 0%,
            rgba(0,0,0,.4) 60%,
            rgba(0,0,0,.3) 70%,
            rgba(0,0,0,.2) 80%,
            rgba(0,0,0,.1) 90%,
            rgba(0,0,0,0) 100%
          );
        }
      }
      .content-container {
        display: flex;
        justify-content: flex-end;
        .title-block {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          width: 50%;
          padding: 0 0 20px 0;
          z-index: 1;
          @include media-medium {
            width: 60%;
            padding: 0 0 20px 0;
          }
          @include media-under-tablet {
            width: 100%;
            padding: 30px 20px 15px;
          }
          .title {
            color: $golden-color-light;
            font-size: 70px;
            line-height: 1.1;
            font-weight: 600;
            text-shadow: 1px 1px #000;
            margin: 0 0 20px 0;
            @include media-medium {
              font-size: 44px;
              margin: 0 0 15px 0;
            }
            @include media-small {
              font-size: 34px;
              margin: 0 0 15px 0;
            }
          }
          .description {
            margin: 0;
            color: $golden-color-light;
            opacity: .8;
            font-size: 24px;
            line-height: 1.3;
            margin-bottom: 20px;
            @include media-medium {
              font-size: 20px;
              margin: 0 0 15px 0;
            }
            @include media-small {
              font-size: 16px;
              margin: 0 0 15px 0;
            }
          }
          .date-block {
            display: flex;
            justify-content: flex-end;
            .date {
              color: $golden-color-light;
              opacity: .8;
              font-size: 16px;
              border: 1px solid $golden-color-light;
              border-radius: 20px;
              padding: 0 10px;
              @include media-medium {
                font-size: 14px;
              }
              @include media-small {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  
    // Main Content
    .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -1px; // Bug fix in Chrome
      padding-top: 50px;
      @include media-medium {
        padding-top: 40px;
      }
      @include media-small {
        padding-top: 30px;
      }

      // Specification Section
      .spec-section .content-container {
        display: flex;
        margin-bottom: 30px;
        @include media-spec-block {
          flex-direction: column;
          margin-bottom: 20px;
        }
        @include media-small {
          flex-direction: column;
          margin-bottom: 20px;
        }

        // Link Block
        .links-block {
          display: flex;
          flex-direction: column;
          margin-right: 30px;
          @include media-spec-block {
            flex-direction: row;
            margin-bottom: 40px;
          }
          @include media-small {
            flex-direction: row;
            margin-right: 0;
            margin-bottom: 30px;
          }
          .button {
            width: 152px;
            padding-right: 25px;
            margin-bottom: 20px;
            @include media-spec-block {
              margin-bottom: 0;
              margin-right: 20px;
            }
            @include media-small {
              width: 50%;
              margin-bottom: 0;
              margin-right: 20px;
              &:last-child {
                margin-right: 0;
              }
            }
            .item-icon {
              width: 30px;
            }
          }
        }

        // Tech Stack Block
        .tech-stack-block {
          flex: 1;
          display: inline-flex;
          justify-content: flex-end;
          flex-wrap: wrap;
          @include media-small {
            justify-content: flex-start;
          }
          .ant-dropdown-link {
            display: block;
            margin-right: 0;
            margin-left: 30px;
            @include media-small {
              margin-right: 20px;
              margin-left: 0;
            }
          }
        }
      }
      
      // Body Section
      .body-section {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        @include media-small {
          margin-bottom: 40px;
        }
        #body-img-1 {
          width: 50%;
          float: left;
          margin: 0 30px 30px 0;
          @include media-medium {
            width: 40%;
          }
          @include media-small {
            width: 100%;
            margin: 0 0 20px;
          }
        }
        p {
          font-size: 18px;
          @include media-small {
            font-size: 16px;
          }
        }
      }

      // Gallery Section
      .gallery-section {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        @include media-medium {
          margin-bottom: 20px;
        }
        @include media-small {
          margin-bottom: 20px;
        }
      }
    }
  }
}

// Fix the bug with fullscreen display on Safari
*:-webkit-full-screen-ancestor > #site-header,
*:-webkit-full-screen-ancestor > #site-footer,
*:-webkit-full-screen-ancestor > #header-image-section {
  display: none !important;
}