@import '../../stylesheets/global';

.page-home {

  // Video Section
  .header-video-section {
    position: fixed;
    height: calc(100% - #{$footer-height});
    video {
      height: 100%;
    }
    .header-video-overlay {
      position: absolute;
      background: #232222;
      opacity: 0.65;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  // Main Content Section
  .main-content-section {
    margin-top: 600px;
    clip-path: polygon(0 10vw, 100% 0, 100% 100%, 0 100%);
    background: rgba(0, 0, 0, 1);
    // backdrop-filter: blur(20px);
  }
}