@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import './variables';
@import './media';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;
  * {
    box-sizing: border-box;
  }

  // No Scroll
  &.noscroll {
    overflow: hidden;
  }
  
  // Dark Mode
  .dark {
    background: #000;
    color: $main-font-color;
  }
}

// Page Main Section
main.page-main-section {
  flex: 1;
  display: flex;
  justify-content: center;
  z-index: 1;
  .loader-container {
    margin-top: 150px;
  }
}

.page-content {
  // Parallax
  overflow: hidden;
  height: 100vh;

  width: 100%;
}

.page-container {
  // Parallax
  transform-style: preserve-3d;
  perspective: 100px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

// Main Content
.main-content {
  transform-style: inherit; // Parallax
  z-index: 1;
  position: relative;
  background: #000;
  margin-bottom: 100px;
  @include media-small {
    margin-bottom: 130px;
  }
}

.page-section {
  display: flex;
  justify-content: center;
}

.content-container {
  position: relative;
  max-width: $content-container-width;
  width: 100%;
  padding: 0 20px;
}

// Clip Block Wrapper
.section-wrapper {
  width: 100%;
}

// Top Clipped Block
.top-clipped-block {
  will-change: transform, scroll-position, contents; // To prevent CSS rerendering in Chrome (flickering)
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 10vw);
  background: #000;
  transform: translateY(-10vw);
  margin-bottom: calc(-10vw + 80px);
}

// Bottom Clipped Block
$bottom-clip-gap: 100px;

.bottom-clipped-block {
  will-change: transform, scroll-position, contents; // To prevent CSS rerendering in Chrome (flickering)
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
  background: #000;
  transform: translateY($bottom-clip-gap);
  margin-top: -$bottom-clip-gap;
  padding-bottom: 100px;
  @include media-small {
    padding-bottom: 50px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
  }
}

// Button
.button {
  min-width: 100px;
  min-height: 45px;
  border: none;
  border-radius: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-decoration: none;
  background: $golden-color;
  color: $black-color;
  outline: none;
  cursor: pointer;
  transition: all .2s ease-out;
  &:hover {
    background: $golden-color-dark;
    color: $black-color;
  }
  @include media-small {
    min-width: 100px;
    min-height: 40px;
  }
  span, div {
    font-size: 20px;
    text-transform: uppercase;
    @include media-small {
      font-size: 16px;
      line-height: 1;
    }
  }
}