$content-container-width: 1200px;

// Dark Scheme
$main-font-color: rgba(256, 256, 256, 0.6);
$main-font-color-light: rgba(256, 256, 256, 0.8);
$golden-color: #efe1b3;
$golden-color-light: #f6eed5;
$golden-color-dark: #e0c56c;
$gray-color: rgb(36, 37 ,38);
$gray-color-light: #313335;
$gray-color-dark: rgb(24, 27, 27);
$black-color: rgba(0, 0, 0, .8);
$red-color: #ff8080;