$header-height: 100px;
$content-container-width: 1200px;

// Dark Scheme
$main-font-color: rgba(256, 256, 256, 0.6);
$main-font-color-light: rgba(256, 256, 256, 0.8);
$golden-color: #efe1b3;
$golden-color-dark: #e0c56c;
$black-color: rgba(0, 0, 0, .8);
$red: #ff8080;