@import '../../../stylesheets/variables';

.button {
  min-width: 150px;
  min-height: 50px;
  border: 1px $golden-color solid;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-decoration: none;
  transition: all .1s ease-in-out;
  &:hover {
    border: 1px $golden-color-hover solid;
    span {
      color: $golden-color-hover;
    }
  }
  span {
    color: $golden-color;
    transition: all .1s ease-in-out;
  }
}