@import '../../../stylesheets/media';

.header-video-section {
  height: 60vh;
  width: 100vw;
  position: relative;
  @include media-medium {
    height: 380px;
  }
  @include media-ipad-pro {
    height: 30vh;
  }
  @include media-small {
    height: 50vh;
  }
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 25%;
    transform: translateZ(-100px) translateY(-20vh) scale(2); // Parallax
    @include media-medium {
      object-position: 0 10%;
      transform: translateZ(-100px) translateY(-30vh) scale(2);
    }
    @media (min-width: 1000px) and (max-width: 1030px) and (orientation: landscape) { // iPad Landscape
      transform: translateZ(-100px) translateY(-25vh) scale(2);
    }
    @include media-ipad-pro {
      object-position: 0 20%;
      transform: translateZ(-100px) translateY(-35vh) scale(2);
    }
    @include media-phone-land {
      object-position: 0 45%;
      transform: translateZ(-100px) translateY(0) scale(2);
    }
    @include media-small {
      object-position: 15% 0;
      transform: translateZ(-100px) translateY(-25vh) scale(2);
    }
  }
  .header-video-overlay {
    position: absolute;
    background: rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}