@import '../../../stylesheets/variables';
@import '../../../stylesheets/media';

.sliders-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  // Thumbnails Slider
  .thumbnails-slider {
    width: calc(100% - 100px);
    margin-bottom: 10px;
    .slick-list {
      .slick-slide {
        padding: 7px;
        border: 3px solid transparent;
        cursor: pointer;
        &.slick-current {
          border-color: $golden-color;
          border-radius: 10px;
          @include media-small {
            border-width: 2px;
          }
        }
      }
    }

    // Slick Arrows
    .slick-arrow {
      &:before {
        color: $golden-color;
      }
      &.slick-prev {
        left: -30px;
        @include media-medium {
          left: -40px;
        }
        @include media-small {
          left: -40px;
        }
      }
      &.slick-next {
        right: -30px;
        @include media-medium {
          right: -35px;
        }
        @include media-small {
          right: -35px;
        }
      }
    }
  }

  // Images Slider
  .slider-wrapper {
    position: relative;
    width: 100%;

    .images-slider {
      .slick-slide {
        padding: 0 5px;
      }
  
      // Slick Arrows
      .slick-arrow {
        transform: initial;
        top: 0;
        height: 370px;
        width: 30%;
        z-index: 1;
        &:before {
          content: '';
        }
        &.slick-prev {
          cursor: url('../../../assets/slider-arrow-prev.png'), auto;
        }
        &.slick-next {
          cursor: url('../../../assets/slider-arrow-next.png'), auto;
        }
        @include media-medium {
          width: 15%;
          height: 40vw;
        }
      }
    }

    // Slide Counter
    .slide-counter {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 20px;
      right: calc(10% + 20px);
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(3px);
      width: 80px;
      min-height: 30px;
      border-radius: 30px;
      padding: 0 10px;
      font-size: 14px;
      color: $golden-color;
      z-index: 1;
      @include media-medium {
        right: 20px;
      }
      @include media-small {
        top: 10px;
        right: 10px;
        width: 50px;
        padding: 0 5px;
        min-height: 22px;
        font-size: 10px;
      }
    }
  }
}

// Slide
.slide-wrapper {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  & > * {
    width: 80%;
    @include media-medium {
      width: 100%;
    }
    @include media-small {
      width: 100%;
    }
  }

  // Video
  video {
    outline: none;
    margin-bottom: 5px;
    @include media-small {
      margin-bottom: 0;
    }
  }

  // Video
  img {
    display: inline-block;
    margin-bottom: 5px;
    @include media-small {
      margin-bottom: 0;
    }
  }

  // Description
  .image-description {
    display: inline-block;
    background: $gray-color;
    border-radius: 0 0 20px 20px;
    padding: 20px;
    text-align: left;
    @include media-small {
      font-size: 14px;
      padding: 10px 20px 20px;
    }
  }

  // Button
  .button-container {
    display: inline-flex;
    justify-content: flex-end;
    margin-top: 20px;
    @include media-small {
      display: none;
    }
    .button {
      min-height: 35px;
      span {
        font-size: 14px;
      }
    }
  }
}